*{
    background: #121E1F;
}
.ladinho{
    width: 267px;
    height: 497px;
    flex-shrink: 0;
    fill: #128891;
    margin-top: 80px;
}
#titulo{
    color: #FFF;
    font-family: sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
}
#texto{
    color: #FFF;
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 0%;
}
.container{
    display: flex;
}
#divrow{
    flex-direction: row;
    display: flex;
    /* margin-left:15.5%; */
    justify-content: center;
}
#divcolumn{
    flex-direction: column;
    display: flex;
}
#logotail{
    margin-left:146px;
    margin-right:146px;
    height: 139.5px;
    width: 139.5px;
}
#riw{
    width: 152.5px;
    height: 61px;
    margin-right: 141px;
}
#logoif{
    height: 168.5px;
    width: 168.5px;
    margin-left: 570px;
    margin-top: 40px;
}
